<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StartPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-9 mb-2 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Puzzle</h5>
    <div>
        <a href="decision">Decision</a>
    </div>
</div>
<center><h2> Guess the puzzle!</h2></center>
<p class="aligncenter">
    <br>
<img src="https://dropi.ru/img/uploads/test/2019-03-25/f3ee0cb49cab21ce7936085c7bdae7d3.jpeg" width="700" height="400">
<style>
    .aligncenter {
        text-align: center;
    }
</style>
</body>
</html>